.hero-row {
    display: flex;
    justify-content: center;
}

.home_shoes_img {
    rotate: -30deg;
    margin-right: 300px;
}

.home_shoes_img:hover {
    scale: 1.10;
    transition: 1s;
}

.second h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
}

.second p {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;

}

.hero-col-2 {
    overflow: hidden;
}

.hero_btn {
    padding: 10px 40px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #4d4d4d;
    margin-left: 40%;
    margin-top: 2%;
}

.hero_btn:hover {
    scale: 0.95;
}

@media only screen and (max-width: 1140px) {


    .first {
        width: 600px;
    }

    .home_shoes_img {
        rotate: -30deg;
        height: 400px;
        /* width: auto; */
        margin-bottom: -50px;
        margin-top: -40px;
        margin-left: -60px;
    }

    .home_shoes_img:hover {
        scale: 1.10;
        transition: 1s;
    }


    .second h1 {
        margin-top: 100px;
        text-align: center;
        font-size: 40px;
    }

    .second p {
        /* width: 300px; */
        margin-top: 15px;
        text-align: center;
        font-size: 20px;
    }


    .hero_btn {
        padding: 10px 40px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid #4d4d4d;
        margin-left: 30%;
        margin-top: 4%;
    }
}

@media only screen and (max-width: 700px) {
    .hero-row {
        flex-direction: column;
    }

    .home_shoes_img {
        rotate: -30deg;
        height: 400px;
        margin-bottom: -50px;
        margin-top: -40px;
        margin-left: 30px;
    }

    .home_shoes_img:hover {
        scale: 1.10;
        transition: 1s;
    }

    .second h1 {
        margin-top: -1px;
        text-align: center;
        font-size: 40px;
    }

    .second p {
        margin-top: 15px;
        text-align: center;
        font-size: 20px;
    }


    .hero_btn {
        padding: 10px 40px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid #4d4d4d;
        margin-left: 30%;
        margin-top: 8%;
    }
}

@media only screen and (max-width: 350px) {

    .home_shoes_img {
        rotate: -30deg;
        height: 400px;
        margin-bottom: -50px;
        margin-top: -40px;
        margin-left: 5px;
    }
}